/*body {
  background-image: url(http://img1.sc115.com/uploads/sc/jpg/183/img-1853-vficdzumo0t.jpg);
  background-size: 100%;
}*/

.joel_main_page {
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: thick;
}

.blurb {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.center {
  text-align: center;
}

.navbar-brand {
  letter-spacing: -3px;
  font-size: 40px;
  font-family:sans-serif;
}
