.joel_main_page {
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: thick;
}

.joel_face_shot {
  width: 100%;
}
.blurb {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.center {
  text-align: center;
}

.navbar-brand {
  letter-spacing: -3px;
  font-size: 40px;
  font-family:sans-serif;
}
